@mixin colors($color) {
  border-color: $color;
  background-color: $color;
  @content;
}
.colors {
  @include colors {
    color: $color;
  }
  border-width: 10px;
}
<===> error
Error: Mixin colors is missing argument $color.
